################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PromptEngineering/FileContentIndex/0aed7c80-5a56-4e18-8ace-c63c170f123d.vsidx
/.vs/PromptEngineering/FileContentIndex/717902fa-4c87-4306-b3f6-ee72c0024a22.vsidx
/.vs/PromptEngineering/FileContentIndex/7b2f54ac-2734-4a6f-a7f0-8c7904bc248f.vsidx
/.vs/PromptEngineering/FileContentIndex/cf0187c7-638e-49cc-aa9f-bcded1fd4a2b.vsidx
/.vs/PromptEngineering/FileContentIndex/fe9fb846-ac47-40b9-b58f-a9a85e35835a.vsidx
/.vs/PromptEngineering/FileContentIndex/6327dd14-62e6-48bd-8d13-e75fba831b38.vsidx
/.vs/PromptEngineering/FileContentIndex/bc2c54f8-5d56-48c4-8b15-4e2e34b8d546.vsidx
/.vs/PromptEngineering/FileContentIndex/ce04b325-112b-43cb-8bf0-d18a1747c4a9.vsidx
/.vs/PromptEngineering/FileContentIndex/da381927-a7b7-4b46-9503-33832f99e033.vsidx
/.vs/PromptEngineering/FileContentIndex/64caf544-45df-45d1-80ba-619b54ef651e.vsidx
/.vs/PromptEngineering/FileContentIndex/5202b705-7410-4ba5-8df7-70c6bc9f1a33.vsidx
/.vs/PromptEngineering/FileContentIndex
